.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Forms */

  

  .login_container{
    width: 512px;
    display: flexbox;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 40px;
    background-color: #1d2433;
  }
  
  .login_container h1{
    text-align: left;
    margin: 0;
  }
  
  .login_title{
    display: flex;
    margin: 40px auto;
    color: #ffcc66
  }
  
  /* Style for navbar and footer placeholders */
  .placeholder_style{
    font-size: 40px;
    color: white;
    background-color: rgb(51, 99, 161);
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 30px;
  }

  .not-user {
    color: #ffcc66
  }
  .footer{
    margin-top: 30px;
  }
  
  form{
    margin: 15px 10%;
  }
  
  input[type="text"]{
    width:100%;
    margin-bottom: 20px;
  }
  
  button{
    width: 30%;
  }
  
  a:hover {
    color: white;
  }

.form-control {
    padding: 20px;
}
.form-control:focus {
    box-shadow: none;
  border: 3px solid  #ffcc66;
}

.login-btn {
    color: #ffcc66
}

.login-btn:hover {
    background-color: #ffcc66
}